{% extends 'admin.html' %}

{% block content %}
<section class="admin" role="region">
  <div class="admin-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Ejecución mensual') }}</h2>
    </div>
  </div>

  <div class="admin-content">
    <div class="container">
      <div class="data-panel">

        <div class="panel">
          <div class="panel-content">
            <h3>1. Descargar datos</h3>
            <p>
              El primer paso es descargar los ficheros de datos del portal de Datos
              Abiertos de Madrid. Para ello, selecciona el mes al que corresponden los
              últimos datos (ya que el portal actualmente no lo indica) y especifica el
              año de los datos que quieres descargar (por defecto estamos utilizando el
              ejercicio en curso). Al pulsar el botón 'Descargar', los datos se bajarán
              del portal en unos segundos y se guardarán en el servidor, listos para el
              siguiente paso.
            </p>
        
            <form id="data-download">
              <div class="form-group">
                <label for="month">{{ _('Selecciona mes') }}</label>
                <select id="month" class="form-control" name="month">
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
              </div>
              <div class="form-group">
                <label for="year">{{ _('Selecciona año') }}</label>
                <select id="year" class="form-control" name="year">
                  {% for year in previous_years %}
                  <option value="{{year}}">{{year}}</option>
                  {% endfor %}
                  <option value="{{current_year}}" selected>{{current_year}}</option>
                </select>
              </div>
            </form>
        
            <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
              <li role="scrap" class="active">
                <a href="#scrap" role="tab">{{ _('Scrap') }}</a>
              </li>
              <li role="manual">
                <a href="#manual" role="tab">{{ _('Manual') }}</a>
              </li>
            </ul>
        
            <div id="scrap-form">
              <form id="data-download-scrap">
                <button
                  type="submit"
                  class="btn btn-default btn-primary"
                  id="scrap-download-button"
                >
                  {{ _('Descargar') }}
                </button>
              </form>
            </div>
        
            <div id="manual-form" style="display: none;">
              <form id="data-download-manual">
                <div class="form-group-manual">
                  <label for="input-ingresos">Ingresos</label>
                  <input type="text" class="form-control" id="input-ingresos" name="ingresos" />
                </div>
                <div class="form-group-manual">
                  <label for="input-gastos">Gastos</label>
                  <input type="text" class="form-control" id="input-gastos" name="gastos" />
                </div>
                <div class="form-group-manual">
                  <label for="input-inversiones">Inversiones</label>
                  <input type="text" class="form-control" id="input-inversiones" name="inversiones" />
                </div>
                <div class="form-group-manual">
                  <label for="input-ingresos-eliminaciones-bruto">Ingresos eliminaciones bruto</label>
                  <input type="text" class="form-control" id="input-ingresos-eliminaciones-bruto" name="ingresos-eliminaciones-bruto" />
                </div>
                <div class="form-group-manual">
                  <label for="input-gastos-eliminaciones-bruto">Gastos eliminaciones bruto</label>
                  <input type="text" class="form-control" id="input-gastos-eliminaciones-bruto" name="gastos-eliminaciones-bruto" />
                </div>
                <button
                  type="submit"
                  class="btn btn-default btn-primary"
                  id="manual-download-button"
                >
                  {{ _('Descargar') }}
                </button>
              </form>
            </div>
        
            <div id="data-download-output" class="data-output">
              <div class="loading">
                <img src="{{ static('assets/loader.png') }}" /> Descargando datos
              </div>
              <div class="output"></div>
            </div>
          </div>
        </div>
        
        <script>
          // Get references to the tab links
          const scrapTabLink = document.querySelector('[role="scrap"] a');
          const manualTabLink = document.querySelector('[role="manual"] a');
        
          // Get references to the form containers
          const scrapForm = document.getElementById('scrap-form');
          const manualForm = document.getElementById('manual-form');
        
          // Add click event listeners to the tab links
          scrapTabLink.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent the default anchor link behavior
            // Update the active class for styling
            document.querySelector('[role="scrap"]').classList.add('active');
            document.querySelector('[role="manual"]').classList.remove('active');
        
            // Show the scrap form and hide the manual form
            scrapForm.style.display = 'block';
            manualForm.style.display = 'none';
          });
        
          manualTabLink.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent the default anchor link behavior
            // Update the active class for styling
            document.querySelector('[role="manual"]').classList.add('active');
            document.querySelector('[role="scrap"]').classList.remove('active');
        
            // Show the manual form and hide the scrap form
            manualForm.style.display = 'block';
            scrapForm.style.display = 'none';
          });
        
          // Initial state: ensure scrap form is visible and manual is hidden on page load
          document.addEventListener('DOMContentLoaded', (event) => {
            scrapForm.style.display = 'block';
            manualForm.style.display = 'none';
          });
        </script>
        
        <div class="panel">
          <div class="panel-content">
            <h3>2. Revisar datos</h3>
            <p>Una vez descargados, podemos revisar los datos para comprobar que las eliminaciones (flujos internos entre organismos del Ayuntamiento de Madrid) coinciden con lo esperado.</p>
            <form class="form-inline" id="data-review" action="" method="get">
              <button type="submit" class="btn btn-default btn-primary" >{{ _('Revisar') }}</button>
            </form>
            <div id="data-review-output" class="data-output">
              <div class="loading"><img src="{{ static('assets/loader.png') }}"> Revisando datos</div>
              <div class="output"></div>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-content">
            <h3>3. Cargar datos</h3>
            <p>Finalmente, podemos cargar los datos descargados en la base de datos, haciéndolos visibles al exterior, tanto en español como en inglés. El proceso de carga incluye datos de ingresos, de gastos y de inversiones, y tarda unos 4-5 minutos.</p>
            <form class="form-inline" id="data-load">
              <button type="submit" class="btn btn-default btn-primary" >{{ _('Cargar') }}</button>
            </form>
            <div id="data-load-output" class="data-output">
              <div class="loading"><img src="{{ static('assets/loader.png') }}"> Cargando datos</div>
              <div class="output"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_javascript %}
<script src="{{ static('javascripts/admin/csv_download.js') }}"></script>
<script src="{{ static('javascripts/admin/execution.js') }}"></script>
{% endblock %}
