// Nav
.nav {
  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $body-bg;
    }
  }
}

.nav-tabs {
  margin-bottom: 2rem;
}

// Handsontable
#handsontable-container {
  display: table;
  margin: 3rem auto 3rem auto;
}

.form-group-manual {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  padding-bottom: 0.5rem;
  // align-items: center; /* This vertically aligns the label and input */
  gap: 1rem; /* Adds space between the label and input */

  label {
    flex-shrink: 0; /* Prevents the label from shrinking */
  }

  input {
    flex-grow: 1; /* Allows the input to fill the remaining space */
  }
}

@import url("https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.full.min.css");
